
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project specific
model_registry/
logs/
data/raw/
data/processed/
notebooks/.ipynb_checkpoints/

# OS specific
.DS_Store

# Model Checkpoints
*.hdf5


